.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-center {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
