.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row,
.flex-col {
  display: flex;
}

.row {
  padding: 10px 0;
  width: 100%;

  gap: 10px;
}

.flex-col {
  flex-direction: column;
}

.closed {
  display: none;
}
@media only screen and (min-width: 0px) {
  .container {
    max-width: 100vw;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    padding: 0 5px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
